<%= form_for [@list, @task] do |f| %>
  <div class="form-group form-inline task-form-edit">
    <%= button_tag(type: "submit", class: "edit-btn", name: "commit", value: "conceal") do %>
      <span class="glyphicon glyphicon-repeat"></span>
    <% end %>
      <%= f.text_field :title, :autofocus => true, :required => true, :class => 'form-control' %>
      <%= link_to '<span class="glyphicon glyphicon-check" aria-hidden="true"></span>'.html_safe, list_task_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>



  </div>
  <div class="form-group">
    <%= f.text_area :description, :class => 'form-control' %>
  </div>

<% end %>
