<h1>Tasks</h1>
<% @tasks.each do |task| %>
<ul>
  <li><%= task.title %></li>
  <li><%= task.status %></li>
  <li><%= task.description %></li>
</ul>
<% end %>

<div class="control">
  <ul>
    <li><%= link_to 'Create', new_list_task_path %></li>

    <li><%= link_to 'Delete', @task, :method => :delete, :data => { :confirm => 'You are about to delete a list'}  %></li>
  </ul>

</div>
