<div class="">
    <div class="col-xs-12 col-sm-3 index_list_show">
      <%= render :partial => 'index_list' %>
    </div>
    <div class="col-xs-12 col-sm-3 edit_list_show">
      <%= render :partial => 'edit_list' %>
      <%= render :partial => 'show_list' %>
    </div>
    <div class="col-xs-12 col-md-6 task">
      <h1><%= @task.title %></h1>
      <ul>
        <li>(status) <%= @task.status %></li>
        <li>created at: <%= @task.created_at %></li>
        <li>updated: <%= @task.updated_at %></li>
        <li>description: <%= @task.description %></li>
      </ul>
      <div class="controls">
        !!!!!!!!!!!!!!!!!HERE !!!!!!!!!!!!!!
        <%= link_to 'Create', new_list_task_path %>
        <%= link_to 'Edit', edit_list_task_path %>
        <%= link_to 'Delete', list_task_path, :method => :delete, :data => { :confirm => "Are you sure?" } %>
        <%= render :partial => 'form_task_edit' %>
      </div>
    </div>
